/* Global styles */
#store #notice {
        color: #000;
        border: 2px solid red;
        padding: 1em;
        margin-bottom: 2em;
        background-color: #f0f0f0;
        font: bold smaller sans-serif;
}

#banner {
	background: #ccff99;
	padding-top: 10px;
	padding-bottom:  10px;
	border-bottom: 2px solid;
	font:small-caps 40px/40px "Times New Roman", serif;
	color: #282;
	text-align: center;
}

#banner .locale {
	float: right;
	padding-top: 0.2em;
}

#banner .loginarea {
	font-family: verdana, arial, helvetica, sans-serif;
	float: right;
	font-size: medium;
	font-weight: bold;
}

#banner img{
	float: left;
}

#columns{
	background:  #66cc99;
}

#side{
	float: left;
	padding-top: 1em;
	padding-left: 1em;
	padding-bottom: 1em;
	width: 14em;
}

#side a, span{
	color: #336633;
	font-size: medium;
	font-weight: bold;
}

/* Styles for products/index */
#product_list table {
        border-collapse: collapse;
}

#product_list table tr td {
        padding: 5px;
        vertical-align: top;
}

#product_list .list_image {
  width:        60px;
  height:       70px;
}

#product_list .list_description {
  width:        60%;
}

#product_list .list_description dl {
        margin: 0;
}

#product_list .list_description dt {
	color:        #244;
	font-weight:  bold;
	font-size:    larger;
}

#product_list .list_description dd {
        margin: 0;
}

#product_list .list_actions {
  font-size:    x-small;
  text-align:   right;
  padding-left: 1em;
}

#product_list .list_line_even {
  background:   #e0f8f8;
}

#product_list .list_line_odd {
  background:   #f8b0f8;
}

.product_categories {
	color: black;
}


#main{
	margin-left: 15em;
	padding-top: 4ex;
	padding-left: 2em;
	background: white;
}

/* Styles for the cart in the main page */
#store .cart_title{
	font: 120% bold;
}

#store .item_price, #store .total_line{
	text-align: right;
}

#store .total_line .total_cell{
	font-weight: bold;
	border-top: 1px solid #595;
}

/* Styles for the cart in the sidebar */
#cart, #cart table{
	font-size: smaller;
	color: white;
}

#cart table{
	border-top:1px dotted #595;
	border-bottom: 1px dotted #595;
	margin-bottom: 10px;
}

/* Styles for order form */
.depot_form fieldset {
	background: #efe;
}

.depot_form legend {
	color: #dfd;
	background: #141;
	font-family: sans-serif;
	padding: 0.2em 1em;
}

.depot_form label {
	width: 5em;
	float: left;
	text-align: right;
	padding-top: 0.2em;
	margin-right: 0.1em;
	display: block;
}

.depot_form select, .depot_form textarea, .depot_form input {
	margin-left: 0.5em;
}

.depot_form .submit {
	margin-left: 4em;
}

.depot_form div {
	margin: 0.5em 0;
}

/* Styles for categories */
#category .delete_button {
	background-color: #FF6666;
	color: white;
	text-decoration: none;
	width: 16px;
	font-weight: bold;
}

#category .delete_button:hover {
	background-color: #CC0033;
}

.side_categories ul:first-child {
	padding-left: 0px;
}

.side_categories li {
	list-style-type: none;
}