/* Styles for store/index */
#storeindex h1 {
        font:  150% sans-serif;
        color: #226;
        border-bottom: 3px dotted #77d;
}

#storeindex #recommend {
	width: 360px;
	position: fixed;
	top: 70px;
	right: 0px;
	border: 1px solid #fdd78d; 
	background: #ccffff; 
	padding: 5px;
}

#storeindex #entries {
	padding-right: 370px;
}

#storeindex .title {
  font-size: 120%;
  font-family: sans-serif;
}

#storeindex .entry {
  overflow: auto;
  margin-top: 1em;
  border-bottom: 1px dotted #77d;
}

#storeindex img {
  width: 80px;
  margin-right: 5px;
  margin-bottom: 5px;
  float: left;
}

#storeindex h3 {
 margin-top: 0;
 margin-bottom: 2px;
 color: #227;
}

#storeindex p {
 margin-top: 0.5em; 
 margin-bottom: 0.8em; 
}

#storeindex .price_line {
 clear: both;
 color: #4444AA;
 font-weight: bold;
 margin-bottom: 0.5em;
}

#storeindex .price, #storeindex .heat {
  color: #4444AA;
  font-weight: bold;
  margin-right: 2em;
}

#storeindex form, #storeindex form div{
	display: inline;
}

/*平常的状态*/
#recommend dl{ clear:both; margin:5px 0;}
#recommend dl dt{ display:none;}
#recommend dl dd strong{ float:left; margin-right:5px;}
#recommend dl dd div{ float:left; width:270px; list-style-type:none;}
#recommend dl dd div p{ display:none;}
#recommend dl dd div form{ display:none;}				
/*鼠标划过的状态*/				
#recommend dl.over{ clear:both; height:160px; background:#99ccff; padding:5px;}
#recommend dl.over dt{ float:right; display:block;}
#recommend dl.over dt img{ border:1px solid #ccc; padding:1px;}
#recommend dl.over dd{ float:left;}
#recommend dl.over dd strong{ font-size:28px; color:#ff6666; vertical-align:top;}
#recommend dl.over dd div { float:left; width:195px;}
#recommend dl.over dd div p{ clear:both; display:block; margin-top:5px;}
#recommend dl.over dd div form { display:inline; margin-top:5px;}