<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<h1>Listing Collection</h1>



<% @products.each do |product| %>
  <tr>
       <%=product.title%>
       <%= button_to 'add to cart', line_items_path(:product_id => product),:remote=>true%>
       <%= button_to 'remove', :controller=>'customers',:action=>'remove_collection',:product_id => product%>
  </tr>
  <br/>
<% end %>
</table>

<br />

