<h1>Listing customers</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @products.each do |product| %>
  <tr>
       <%=product.title%>
  </tr>
  <br/>
<% end %>
</table>

<br />

