<div class="title">
	<span class="title_icon">
		<%= image_tag("bullet1.gif") %>
	</span>
	<%= t('.list_order')%>
</div>
<div class="clear"></div>
<%= render(:partial => 'order', :collection => @customer.orders) %>
