<% if notice %>
	<p id="notice">
		<%= notice %>
	</p>
<% end %>

<div class="title">
	<span class="title_icon">
		<%= image_tag("bullet1.gif") %>
	</span>
	Listing categories
</div>

<div id="category">
<%= treeDisplay(@categoriesHashTree) %>
</div>
<br />
<%= button_to "New Category", new_category_path, 
	{:method => :get, :class => "image_submit" } %>
