<div class="title">
	<span class="title_icon">
		<%= image_tag("bullet1.gif") %>
	</span>
	New category
</div>

<%= render 'form' %>
<div class="clear"></div>
<br />
<%= link_to 'Back', categories_path %>
