<div class="title">
	<span class="title_icon">
		<%= image_tag("bullet1.gif") %>
	</span>
	<%= t('.new_category')%>
</div>

<%= render 'form' %>
<div class="clear"></div>
<br />
<%= link_to t('.back'), categories_path %>
