<div class="title">
	<span class="title_icon">
		<%= image_tag("bullet1.gif") %>
	</span>
	New product
</div>
<div class="clear"></div>

<%= render "form" %>

<br />
<%= link_to 'Back', products_path %>
