<div class="title">
	<span class="title_icon">
		<%= image_tag("bullet1.gif") %>
	</span>
	<%= t('.new_product')%>
</div>
<div class="clear"></div>

<%= render "form" %>

<br />
<%= link_to t('.back'), products_path %>
