<div class="title">
	<span class="title_icon">
		<%= image_tag "bullet1.gif" %>
	</span>
	About us
</div>
<div class="feat_prod_box_details">
	<p class="details">
		<%= image_tag "about.gif", :class => "right" %>
		At our book store, we believe that innovation has the power to change the world. As we strive to believe Earth's most customer-centric company, we constantly look for new ways to innovate on behalf of our different customers, like individuals who shop our websites. We believe that our greatest contribution to the good of society comes directly from these core business activities.
		<br /><br />
		Book store...a place where builders can build. We hire the world's bright minds and offer them an environment in which they can invent and innovate to improve the experience for our customers.
		<br /><br />
		Book store's evolution from Web site to e-commerce partner to development platform is driven by the spirit of invention that is part of our DNA. We do this every day by solving complex technical and business problems with ingenuity and simplicity. We're making history and the good news is that we've only just begun.
	</p>
</div>	
<div class="clear"></div>