<div class="crumb_nav">
	<%= link_to "home", store_index_path %>
	&gt;&gt; contact us
</div>
<div class="title">
	<span class="title_icon">
		<%= image_tag "bullet1.gif" %>
	</span>
	Contact us
</div>

<div class="clear"></div>
	<div class="feat_prod_box_details">
		<p class="details">
			If you have any questions, please contect us.You can reach us via phone or e-mail. 
		</p>
	</div>
	<table class="orders_show_table">
		<tr class="form_row">
			<th class="contact">Phone:</th>
			<td>xxx-xxxx</td>
		</tr>
		<tr class="form_row">
			<th class="contact">E-mail:</th>
			<td>herdsmen108@gmail.com</td>
		</tr>
	</table>
</div>